   <ion-content>
      
  <div class="button">
    <h1 class="title">Login</h1>
  </div>
<ion-grid>
  <ion-row color="primary" justify-content-center>
   <ion-col align-self-center size-md="6"size-lg="5" size-xs="12">


<ion-list>
  <ion-item lines="full">
    <ion-input placeholder="Mobile Number"[(ngModel)]="mobilenumber"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-input placeholder="Password"[(ngModel)]="password"></ion-input>
  </ion-item>
</ion-list>
<br>
<div class ="button"><ion-button expand="block"  (click)="login()">Login</ion-button></div>
<ion-button class="register" expand="block" color="light" (click)="goRegister()">Register</ion-button>
<ion-button class="forgot" expand="block" color="light"(click)="forget()">Forget Password</ion-button>
   </ion-col>
</ion-row>
  </ion-grid>
   </ion-content>