.button {
    display: table;
    margin: 0 auto;
    position: floating;
    border-radius: 4px;
    margin-top: 27px;
}
.title {

    font-size: 70px;
    font: outline;
    initial-letter-align: center;
    width: 700px;
    height: 70px;
    display: block;
    border-radius: 4px;
}
.register{
    margin-top:60px;
}
.forgot {

    width: 60px;
    height: 60px;
  
  
}